<% include header.ejs %>
<div id="wrapper">
	<!-- top-navbar -->
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-comments"></i> <strong>Cyua's tools</strong></a>
        </div>
		<!-- 
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i>功能未完成</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-sign-out fa-fw"></i>尚在开发中</a>
                    </li>
                </ul>
            </li>
        </ul>
		-->
    </nav>
   
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu" href="/"><i class="fa fa-dashboard"></i> Shikigamis' position</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-desktop"></i> developing...</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        悬赏封印 <small>Search the shikigami</small>
                    </h1>
			
                </div>
            </div>
			<div class="row">
        	    <div class="col-md-4 col-sm-8 col-xs-12">
					<div class="input-group">	
						<input type="text" class="form-control" placeholder="式神全名或拼音 (例: 酒吞童子/ jiutuntongzi)" id="positionName" onkeydown="bindEnter();">
						<span class="input-group-btn">
							<button class="btn btn-primary" type="button" id="positionBtn" onclick="sendMsg();">确认</button>
						</span>
					</div>
				</div>
			</div>
			<hr>
        	<div class="row">
        	    <div class="col-md-8 col-sm-12 col-xs-12">
        	        <div class="panel panel-default">
        	            <div class="panel-heading">
							出现地点
        	            </div> 
        	            <div class="panel-body">
        	                <div class="table-responsive">
        	                    <table class="table table-striped table-bordered table-hover">
        	                        <thead>
        	                            <tr>
        	                            	<th>式神名称</th>
        	                                <th>出现地点</th>
        	                                <th>备注</th>
        	                            </tr>
        	                        </thead>
        	                        <tbody id="tbl">
        	                            <tr>
        	                                <td>许愿青行灯 ！！</td>
        	                                <td>来我家 ！！</td>
        	                                <td>∑(っ °Д °;)っ</td>
        	                            </tr>
        	                        </tbody>
        	                    </table>
        	                </div>
        	            </div>
        	        </div>
        	    </div>
        	</div> <!-- /. ROW  -->
    	</div> <!-- /. PAGE INNER  -->
    </div> <!-- /. PAGE WRAPPER  -->
</div>

<script type="text/javascript">
	function bindEnter(){
		if(window.event.keyCode == 13)
			sendMsg();
	}

	function sendMsg(){
		var name = $("#positionName").val();
		$.ajax({
			url:"/request/position2",
			type:"post",
			data:{name:name},
			success:function(result){
				$("#positionName").val("");	
				var text = "";
				for(var j = 0 ; j < result.length; j++){
					for(var i = 0; i < result[j].position.length; i++){
						var posList = result[j].position[i].split(" ");
						text += "<tr><td>" + result[j].name + "</td>";
						text += "<td>" + posList[0] + "</td><td>" + posList[1] + "</td></tr>";
					}
				}
				$("#tbl").html(text);
			},
			error:function(data,status){
				$("#positionName").val("");	
				var text = "";
				text += "<tr><td colspan=3>没有该式神数据喔 （//▽//）请先检查拼写啦！要是没错的话， 就说明常规章节和御魂八层以内木有这个式神出现 _(:з」∠)_</td></tr>"
				$("#tbl").html(text);
			}
		});
	}
</script>

<% include footer.ejs %>
